<h3>Administration</h3>

<div>
    <ul>
        <!-- Utilisateur -->
        <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> Utilisateurs
            <span class="label label-info">coucou</span>


            <a href="">
                <button type="button" class="btn btn-default col-lg-offset-8" style="background-color: #000000">
                    <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                    <span style="color: #ffffff">Ouvrir</span>
                    <span class="badge">c</span>
                </button>
            </a>

            <a href="">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Nouveau
                </button>
            </a>


        </li>

        <!-- Disques -->
        <li class="list-group-item">
            <span class="glyphicon glyphicon-folder-close"></span> Disques
            <span class="label label-info">coucou</span>


            <a href="">
                <button type="button" class="btn btn-default col-lg-offset-8" style="background-color: #000000">
                    <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                    <span style="color: #ffffff">Ouvrir</span>
                    <span class="badge">c</span>
                </button>
            </a>

            <a href="">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Nouveau
                </button>
            </a>

        </li>

        <!-- Tarifs -->
        <li class="list-group-item">
            <span class="glyphicon glyphicon-euro"></span> Tarifs


            <a href="">
                <button type="button" class="btn btn-default col-lg-offset-9" style="background-color: #000000">
                    <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                    <span style="color: #ffffff">Ouvrir</span>
                    <span class="badge">c</span>
                </button>
            </a>

            <a href="">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Nouveau
                </button>
            </a>

        </li>

        <!-- Services -->
        <li class="list-group-item">
            <span class="glyphicon glyphicon-gift"></span> Services

            <a href="">
                <button type="button" class="btn btn-default col-lg-offset-8" style="background-color: #000000">
                    <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                    <span style="color: #ffffff">Ouvrir</span>
                    <span class="badge">c</span>
                </button>
            </a>

            <a href="">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Nouveau
                </button>
            </a>
        </li>
    </ul>
</div>