<div id="content">
    <h3> Mes disques -> {{utili.getLogin()}} </h3>
    <div class="panel-body">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <a href="Disques/frm">Créer un disque</a>
        </button>

        <!-- disque datas -->
        <div class="list-group-item">
            <span class="glyphicon glyphicon-hdd"> <b>Datas</b></span>

            <br>
            <br>


            {%for user in utili %}
            <li> <b>{{disque.getNom()}}</b>
                <span class="label label-primary">{{disque.getUtilisateur()}}</span>
            </li>
            {%endfor%}
            <!-- <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% </span>
                </div>
            </div> -->
            <br>
            <br>
        </div>

        <!-- disque system -->
        <div class="list-group-item">
            <span class="glyphicon glyphicon-hdd"> <b>System</b></span>

            <br>
            <br>
            <!-- <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% </span>
                </div>
            </div> -->
            <br>
            <br>
        </div>

        <!-- disque archives -->
        <div class="list-group-item">
            <span class="glyphicon glyphicon-hdd"> <b>Archives</b></span>

            <br>
            <br>
            <!-- <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% </span>
                </div>
            </div> -->
            <br>
            <br>
        </div>
    </div>
</div>