<form method="post" action="Disques/update">
    <fieldset>
        <legend>Ajouter/modifier un disque </legend>
        <div class="alert alert-info">Disque et choix du tarif :</div>
        <div class="form-group">

            <input type="hidden" name="id" value="{{disque.getId()}}">
            <input type="text" name="nom" id="nom" value="{{disque.getNom()}}"
                   placeholder="Entrez le Nom" class="form-control" {{disabled}}>
            <input type="datetime-local" name="Date" value="{{disque.getCreatedAt()}}"
                   placeholder="Entrez une Date" class="form-control" {{disabled}}>

            <br>

            <select name="tarif" id="tarif" class="form-control">
                {% for tarif in tarifs %}
                <option value="{{tarif.id}}">
                    {{tarif.getQuota()}} {{tarif.getUnite()}} pour {{tarif.getPrix()}}€ avec marge de dépassement de
                    {{tarif.getMargeDepassement() * 100}}% (Coût de dépassement {{tarif.getCoutDepassement()}}€ / {{tarif.getUnite()}})
                </option>
                {% endfor %}
            </select>

        </div>

        <div class="form-group">
            <input type="submit" value="Valider" class="btn btn-default">
            <a class="btn btn-default" href="{{config['siteUrl']}}disques">Annuler</a>
        </div>
    </fieldset>
</form>
