<form method="post" action="Disques/update">
    <fieldset>
        <legend>Ajouter/modifier un disque</legend>
        <div class="alert alert-info">Disque : {{user.toString()}}</div>
        <div class="form-group">

            <!-- Id du disque -->
            <input type="hidden" name="id" value="{{disque.getId()}}">
            <!-- Nom du disque -->
            <input type="text" name="nom" id="nom" value="{{disque.getNom()}}" placeholder="Entrer le nom du Disque" class="form-control" {{disabled}}>
            <!-- Utilisateur"
            <input type="text" name="" id="user" value="{{disque.getUtilisateur()}}" placeholder="Entrer le propriétaire" class="form-control" {{disabled}}> -->
            <!-- Créé le :-->
            <input type="text" name="createdat" id="createdat" value="{{disque.getCreatedAt()}}" placeholder="Date de création" class="form-control" {{disabled}}>

            <br>
            <br>

            <input type="submit" value="Valider" class="btn btn-default">
            <a class="btn btn-default" href="{{config['siteUrl']}}Disques">Annuler</a>
        </div>
    </fieldset>
</form>

