<table class="table table-striped">
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Disque</th>
        <th>Montant</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>{{login}}</td>

        <td>
            <span class="label label-default">{{nbdisque}}</span>
        </td>

        <td>
            <span class="label label-info">coucou</span>
        </td>

        <td style="text-align: right">
            <button type="button" class="btn btn-default" style="background-color: #000000">
                <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                <a href="#" style="color: #ffffff">Ouvrir</a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
